@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: hsl(223, 18%, 39%);
  background: hsl(223, 13%, 79%);
}

body {
  color: hsl(223, 18%, 39%);
  background: hsl(223, 13%, 79%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(204, 58%, 39%);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media only screen and (max-width: 380px) {
  .pagecard {
    height: 486px;
    width: 360px;
  }
}
@media only screen and (max-width: 768px) {
  .pagecard {
    height: 150px;
    width: 240px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 840px) {
  .pagecard {
    height: 200px;
    width: 300px;
  }
}
@media only screen and (min-width: 840px) and (max-width: 1024px) {
  .pagecard {
    height: 200px;
    width: 300px;
  }
}
@media only screen and (min-width: 1024px) {
  .pagecard {
    height: 486px;
    width: 360px;
  }
}
